



<div class="container container-small">
  <div class="row row-cols-1 row-cols-md-3">
    <% for(var x=0; x < projek.length; x++ ){ %>
        <div class="col mb-4">
          <div class="card" style="width: 15rem">
              <img class="card-img-top" src="<%= projek[x].logo %> ">
              <div class="card-block padding text-center">
                  <h4 class="card-title"><%= projek[x].company%></h4>
                  <p><%= projek[x].description%></p>
                  </div>
                  <div class="card text-center">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><span class="text-uppercase font-weight-bold"><%= projek[x].tech%></span></li>
                      <li class="list-group-item"><span class="text-uppercase font-weight-bold"><%= projek[x].category%></span></li>
                      <li class="list-group-item"></li>
                        <button type="button" class="btn btn-outline-info">Edit</button>
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </ul>
              </div>
          </div>
      </div>
    <% } %>
</div>
