<!DOCTYPE html>
<html lang="en">

<head>
<%- include('partials/navbar') %>
<%- include('partials/meta') %>
<%- include('partials/linkcss') %>



</head>

  <body id="page-top">

    <section class="content-section bg-primary text-white text-center" id="services">
    </section>

      <%- include('partials/navigation') %>
      <%- include('partials/text') %>
      <%- include('partials/footer') %>

      

    </body>

</html>
