<!DOCTYPE html>
<html lang="en">

<head>

<%- include('partials/meta') %>
<%- include('partials/linkcss') %>



</head>

  <body id="page-top">
    <%- include('partials/navbar', {session: session}) %>
    <section class="content-section bg-primary text-white text-center" id="services"></section>

    <%- include('partials/text') %>
    <%- include('partials/footer') %>
    </body>

</html>
