<!DOCTYPE html>
<html lang="en">

<head>

<%- include('partials/meta') %>
<%- include('partials/linkcss') %>

</head>


<body id="page-top">
<%- include('partials/navbar') %>

<div class="container">
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">New Project</button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Projects</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Image URL</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Company</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control">
            <textarea class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Technology</label>
            <input type="text" class="form-control">
            <select multiple class="form-control">
               <option>Android Application</option>
               <option>Power BI</option>
               <option>Tableau</option>
               <option>Python</option>
               <option>Artificial Intelligent</option>
            </select>
          </div>
          <div class="form-group">
            <label>Category</label>
            <select class="form-control">
               <option>Android</option>
               <option>Fullstack</option>
               <option>Business Intelligent</option>
               <option>Data Modelling</option>
               <option>Artificial Intelligent</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/card') %>
<%- include('partials/footer') %>

</body>
</html>
