<!DOCTYPE html>
<html lang="en">

<head>

<%- include('partials/meta') %>
<%- include('partials/linkcss') %>

</head>


<body id="page-top">
  <div class="container">
    <%- include('partials/navbar', {session: session}) %>

    <% if (session.isLoggedIn == true) { %>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">New Project</button>
      </div>
    <% } %>
  </div>

<%- include('partials/card') %>
<%- include('partials/footer') %>

</body>
</html>
